* {
  margin: 0;
  padding: 0;
  user-select: none;
}

ul,ol {
  list-style: none;
}

/* 自定义vue过渡动画 */
.myAnimation-enter-active,
.myAnimation-leave-active {
  transition: all 0.5s;
}
.myAnimation-enter,
.myAnimation-leave-to {
  opacity: 0;
}
/* 阿里图标 */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}